:root {
  --pink: #e5266e;
  --white: #ffffff;
}

.app {
  display: flex;
  justify-content: center;
  padding: 2%;
  min-height: 90vh;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.write-button {
  padding: 10%;
  border: 1px solid var(--pink);
  background-color: var(--white);
  color: var(--pink);
  transition: 1s;
}

.write-button:hover {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white);
  transition: 1s;
}

.dialog {
  width: 50%;
  padding: 5%;
  border: none;
}

.become-member-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  gap: 5;
}

.form-input,
.sphere-select {
  padding: 3%;
  margin: 1%;
}

.form-input {
  display: flex;
}

.input-icon {
  width: 25px;
  height: 25px;
}

.form-header-inputs-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.become-member-button {
  background-color: #e5266e;
  color: white;
  padding: 2%;
}
